{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Lair Dashboard{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://bootswatch.com/slate/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
            <a href="{% url "Datum_list" %}">
                <button type="button" class="btn btn-default" aria-label="Dashboard">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </button>
            </a>
            </nav>
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
